* {
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;

  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

#root {
  width: 100%;
  min-height: 100vh;
  overflow-x: clip;
}

img,
svg,
video,
iframe {
  max-width: 100%;
}
